section#main
	.container
		include header
		.row
			.col-md-push-6.col-sm-6
				h1.main_title Электронный 
					span журнал
				h2.main_subtitle Журнал посвящен темам психологии, астрологии, эзотерики, самопознанию, магии
				p.main_text Вы узнаете как добиться желаемого при помощи практик,заговоров. Как обезопасить себя и сохранить или найти отношения. Познакомитесь с нашими психологами, эзотериками, практиками, магами и т.д.
			.col-md-pull-6.col-sm-6
				img(src="img/magazine.png", alt="Обложка").mag
		.row
			.col-md-3.col-sm-3
				h3.general_title Архив номеров:
				button.button(data-toggle="modal" data-target="#archive") Скачать бесплатно
			.col-md-3.col-sm-3
				h3.general_title Авторы статей:
				ul.main_list.main_ul_list
					li Жанна Абрамова
					li Василий Попов
					li Анна Ролева
					li Вероника Юрина
					li Ольга Кононенко
					li Ольга Веда и другие психологи, парапсихологи, эзотерики
					li А также консультанты/эксперты на нашей платформе Master Vision
			.col-md-3.col-sm-3.sub_cols
				h3.general_title Рубрики:
				ol.main_list.main_ol_list
					li Календарь событий
					li Вопрос-Ответ
					li Лица
					li Тема номера 
					li Интервью
					li Истории успеха 
					li Итоги месяца
					li Значимые события месяца
					li Эзотерика для здоровья 
					li Денежная эзотерика
					li Любовная магия 
					li Современная эзотерика
					li Эзотерика для профессионалов 
					li Эзотерика для начинающих
			.col-md-3.col-sm-3.sub_cols
				h3.general_title Свежий номер
				button.button(data-toggle="modal" data-target="#fresh") Подписаться бесплатно