section#main
	.container
		include header
		.row
			.col-md-6.col-sm-8.col-md-push-6.col-sm-push-4
				h1.main_title Электронный 
					span журнал
				h2.main_subtitle Журнал посвящен темам психологии, астрологии, эзотерики, самопознанию, магии
				p.main_text Вы узнаете как добиться желаемого при помощи практик, заговоров. Как обезопасить себя и сохранить или найти отношения. Познакомитесь с нашими психологами, эзотериками, практиками, магами и т.д.
			.col-md-6.col-sm-4.col-md-pull-6.col-sm-pull-8
				p.pre (Нажмите на журнал, чтобы просмотреть его подробнее)
				//- a(href="img/mag/magazine.pdf" data-fancybox="page" title="нажмите, чтобы увеличить")
				a(href="img/mag/page_1_big.jpg" data-fancybox="pages" title="нажмите, чтобы увеличить")
					img(src="img/magazine.png", alt="Журнал").mag
				//- .bb-custom-wrapper
					//- #bb-bookblock.bb-bookblock
					//- 	.bb-item
					//- 		.bb-custom-firstpage
					//- 			a(href="img/mag/page_1_big.jpg" data-fancybox="pages" title="нажмите, чтобы увеличить")
					//- 				img(src="img/mag/page_1.jpg")
					//- 		.bb-custom-side
					//- 			a(href="img/mag/page_2_big.jpg" data-fancybox="pages")
					//- 				img(src="img/mag/page_2.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 			a(href="img/mag/page_3_big.jpg" data-fancybox="pages")
					//- 				img(src="img/mag/page_3.jpg")
					//- 		.bb-custom-side
					//- 			a(href="img/mag/page_4_big.jpg" data-fancybox="pages")
					//- 				img(src="img/mag/page_4.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 			a(href="img/mag/page_5_big.jpg" data-fancybox="pages")
					//- 				img(src="img/mag/page_5.jpg")
					//- 		.bb-custom-side
					//- 			a(href="img/mag/page_6_big.jpg" data-fancybox="pages")
					//- 				img(src="img/mag/page_6.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 			a(href="img/mag/page_7_big.jpg" data-fancybox="pages")
					//- 				img(src="img/mag/page_7.jpg")
					//- 		.bb-custom-side
					//- 			a(href="img/mag/page_8_big.jpg" data-fancybox="pages")
					//- 				img(src="img/mag/page_8.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_9.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_10.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_11.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_12.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_13.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_14.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_15.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_16.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_17.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_18.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_19.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_20.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_21.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_22.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_23.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_24.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_25.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_26.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_27.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_28.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_29.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_30.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_31.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_32.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_33.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_34.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_35.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_36.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_37.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_38.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_39.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_40.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_41.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_42.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_43.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_44.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_45.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_46.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_47.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_48.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_49.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_50.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_51.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_52.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_53.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_54.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_55.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_56.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_57.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_58.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_59.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_60.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_61.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_62.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_63.jpg")
					//- 		.bb-custom-side
					//- 				img(src="img/mag/page_64.jpg")
					//- 	.bb-item
					//- 		.bb-custom-side
					//- 			img(src="img/mag/page_62.jpg")
					//- 		.bb-custom-side
					//- 			img(src="img/mag/page_63.jpg")
					//- <nav>
					//- 	<a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
					//- 	<a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
					//- 	.clearfix
					//- </nav>
		.row
			.col-md-6.col-md-push-6.col-sm-6
				.col-md-6.col-sm-12.sub_cols
					h3.general_title.general_title_rubrics Рубрики:
					ol.main_list.main_ol_list
						li Календарь событий
						li Вопрос-Ответ
						li Лица
						li Тема номера 
						li Интервью
						li Истории успеха 
						li Итоги месяца
						li Значимые события месяца
						li Эзотерика для здоровья 
						li Денежная эзотерика
						li Любовная магия 
						li Современная эзотерика
						li Эзотерика для профессионалов 
						li Эзотерика для начинающих
						li Кейсы
				.col-md-6.col-sm-12.sub_cols
					h3.general_title.general_title_fresh Получить свежий номер за Июль
					//- button.button.button_fresh(data-toggle="modal" data-target="#fresh") Подписаться бесплатно
					form(action="https://shop.mastervision.su/?r=personal/newsletter/sub/add&id=3568&lg=ru" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" target="_blank").form.fresh_form
						h4.fresh_form_title Введите email, и мы отправим на него 
							span свежий номер
						.email-block
							input( type="hidden" value="1" name="required_fields[email]")
							input(class="email fresh_mail" name="Contact[email]" type="text" placeholder="Ваш email")
						button(type="submit").button.button_mail.button_fresh Получить номер
						.clearfix
						p.alert_message 
						<!--Обязательный параметр. Не удалять и не изменять!-->
						input(type="hidden" value="660" name="Contact[id_newsletter]")
						<!--API код канала рекламы-->
						input(type="hidden" value="0" name="Contact[id_advertising_channel_page]")
						.checking.checking_modal
							input(type="checkbox" id="check_f" checked).check
							label(for="check_f").check_label Я согласен с 
								a(href="javascript:void(0);")(data-toggle="modal" data-target="#myPolitics")  условиями обработки персональных данных
								|  по 152 - Ф3
			.col-md-6.col-md-pull-6.col-sm-6
				.col-md-6.col-md-push-6.col-sm-12
					h3.general_title.general_title_authors Авторы статей:
					ul.main_list.main_ul_list
						li Жанна Абрамова
						li Василий Попов
						li Анна Ролева
						li Вероника Юрина
						li Ольга Кононенко
						li Ольга Веда и другие психологи, парапсихологи, эзотерики
						li А также консультанты/эксперты на нашей платформе Master Vision
				.col-md-6.col-md-pull-6.col-sm-12
					h3.general_title.general_title_archive Архив номеров:
					ul.main_list.main_ul_list
						li №1. Январь/Февраль
						li №2. Март/Апрель
						li №3. Май
						li №4. Июнь
					button.button.button_archive(data-toggle="modal" data-target="#archive") Скачать бесплатно