#main
	min-height calc(100vh - 104px)
	padding-bottom: 30px
header
	padding 13px 0
	overflow hidden
	margin-bottom: 10px
#logo
	float left
	width 296px
.contacts
	float: right
	line-height: 22px
	vertical-align: middle
.contact
	display: inline-block
	margin-left: 16px
	padding-left: 30px
	background-repeat no-repeat
	background-position: left center
	background-size contain
	&:focus
		text-decoration: none
	&:hover
		text-decoration: underline
.contact_tel
	background-image url(../img/tel_icon.png)
.contact_skype
	background-image url(../img/skype_icon.png)
.contact_email
	background-image url(../img/email_icon.png)
	padding-left: 36px
.mag
	width 100%
	margin-bottom: -100px
.main_title
	font-size: 57px
	font-family: 'AvenirNextCyrBold', sans-serif
	line-height: 45px
	margin: 12px 0 20px
	span
		display block
		text-align: right
.main_subtitle
	font-size: 24px
	line-height: 28px
	margin-bottom: 40px
.main_ul_list
	list-style none
.main_ol_list
	margin-left: 20px
.sub_cols
	position relative
	top -70px