#main
	min-height calc(100vh - 104px)
	padding-bottom: 30px
header
	padding 13px 0
	overflow hidden
	margin-bottom: 10px
#logo
	float left
	width 296px
.contacts
	float: right
	line-height: 22px
	vertical-align: middle
.contact
	display: inline-block
	margin-left: 16px
	padding-left: 30px
	background-repeat no-repeat
	background-position: left center
	background-size contain
	&:focus
		text-decoration: none
	&:hover
		text-decoration: underline
		color #fff
.contact_tel
	background-image url(../img/tel_icon.png)
.contact_skype
	background-image url(../img/skype_icon.png)
.contact_email
	background-image url(../img/email_icon.png)
	padding-left: 36px
.mag
	width 100%
	margin-bottom: -100px
.main_title
	font-size: 57px
	font-family: 'AvenirNextCyrBold', sans-serif
	line-height: 45px
	margin: 12px 0 20px
	span
		display block
		text-align: right
.main_subtitle
	font-size: 24px
	line-height: 28px
	margin-bottom: 40px
.main_ul_list
	list-style none
.main_ol_list
	margin-left: 20px
.sub_cols
	position relative
	top -70px
.pre
	font-size: 16px
	text-align: center
	margin-bottom: 5px
	line-height: 1.2
// .bb-custom-wrapper .bb-bookblock
// 	margin 0 auto 20px
// 	// background-color: #aaa
// 	// width 566px
// 	height 425px
// .bb-custom-wrapper > nav
// 	top calc(50% - 20px )
// 	height 0
// 	max-width 566px
// .bb-custom-icon-arrow-left
// 	float left
// .bb-custom-icon-arrow-right
// 	float: right
// .bb-item
// 	width 100%
// 	height 100%